</main>
<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
      <p class="footer-infos">Copyright &copy; T-ap 2021</p>
      <a class="footer-infos" href="#">Contact</a>
      <a class="footer-infos" href="#">Mentions légales</a>
    </div>
</footer>
</body>
</html> 