<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Votre site de référence pour l'amélioration de la frappe au clavier">
        <meta name="author" content="Victor Greiveldinger">

        <title>T-ap, le site d'aide à la frappe</title>
        
        <link href="/css/reset.css"  rel="stylesheet">

        <link href="/css/style.css"  rel="stylesheet">

    </head>
    <body>
        <main class="container">