<nav>

    <a href="#"><h1>T-ap</h1></a>

    <ul>
        <li>
            <a href="#">
                Home
            </a>
        </li>

        <li>
            <a href="#">
                Liste des jeux
            </a>
        </li>

        <li>
            <a href="#">
                Progression
            </a>
        </li>
        
        <li>
            <a href="#">
                Mon compte
            </a>
        </li>
        
        <li>
            <a href="#">
                Déconnexion
            </a>
        </li>

    </ul>
</nav>