<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!-- Reset CSS -->
        <link href="/css/reset.css"  rel="stylesheet">

        <!-- Really beautiful CSS -->
        <link href="/css/style.css"  rel="stylesheet">

        <title>T-ap</title>
    </head>
    <body>
        <main class="container">

            <nav>

                <ul>
                    <li>
                        <a href="#">
                        <h1>T-ap</h1>
                        </a>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="#">
                            <i></i>
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i></i>
                            Liste des jeux
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i></i>
                            Progression
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i></i>
                            Mon compte
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i></i>
                            Déconnexion
                        </a>
                    </li>

                </ul>
            </nav>


            404


        </main>
    </body>
</html> 