<%- include('partials/header') %>
<%- include('partials/nav') %>

<div>
    <% if (locals.error) { %>
        <ul class="errorList">
            <li class="error"><%= error %></li>
        </ul>
    <% } %>
    <h2 class="title-forms">Connexion :</h2>
    <form action="/login" method="post" class="signup-form">
        <div class="informations">
            <label for="email">Email : </label>
            <input type="text" name="email" id="email" placeholder="Votre email">
        </div>
        <div class="informations">
            <label for="password">Password : </label>
            <input type="password" name="password" id="password" placeholder="Votre mot de passe">
        </div>
    
        <div class="informations">
            <input id="signup" type="submit" value="Connexion">
        </div>
    </form>
</div>

<%- include ('partials/footer') %>