<%- include('partials/header') %>
<%- include('partials/nav') %>
    
    <div>
        <% if (locals.errorList) { %>
            <% for (let error of errorList) { %>
                <div class="error">
                    <%= error %>
                </div>
            <% } %>
        <% } %>
        <form method="POST" action="/signup" class="signup-form">
            <div class="informations">
                <label>Prénom :</label>
                <input type="text" name="firstname" id="input-firstname"/>
            </div>
            <div class="informations">
                <label>Nom :</label>
                <input type="text" name="lastname" id="input-lastname"/>
            </div>
            <div class="informations">
                <label>Email :</label>
                <input type="text" name="email" id="input-email"/>
            </div>
            <div class="informations">
                <label>Password :</label>
                <input type="password" name="password" id="input-password"/>
            </div>
            <div class="informations">
                <label>Confirmation du password :</label>
                <input type="password" name="password-confirm" id="input-password-confirm"/>
            </div>
            <input class="informations" id="signup" type="submit" value="S'inscire" />
        </form>
    </div>

<%- include ('partials/footer') %>